@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background: #191210;
    --background-lighter-1: #2e2826;
    --background-lighter-2: #443f3d;
    --background-lighter-3: #5c5756;
    --background-lighter-4: #757170;
    --background-lighter-5: #8f8b8a;
    --primary: #257b0e;
    --primary-lighter-1: #43892e;
    --primary-lighter-2: #5c9848;
    --primary-lighter-3: #74a661;
    --primary-lighter-4: #8bb57b;
    --primary-lighter-5: #a2c494;
    --danger: #bf211e;
    --danger-lighter-1: #ca4334;
    --danger-lighter-2: #d55d4b;
    --danger-lighter-3: #de7662;
    --danger-lighter-4: #e78d7b;
    --danger-lighter-5: #eea494;
    --white: #F7F4F3;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    background: var(--background-lighter-1);
}

p {
    margin: 0;
}

a {
    cursor: pointer;
}